*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/images.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}

body-text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    background: transparent;
  }
  .Text-wrapper{
    display: flex;
  }
  .Text-wrapper .static-txt{
    color: #000;
    font-size: 60px;
    font-weight: 400;
  }
  .Text-wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
    button {
    border:  solid #000 2px;
    border-radius: 8px;
    background: #000;
    height: 35px;
    width: 90px;
    font-size: 17px;
    background-color: #fff;
    outline: none;
    border: none;

  }
  button:hover{
    background-color: dimgrey;
    color: #fff

  }

  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:transparent;
    border-left: 2px solid #fff;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
